<html>
<head><title>{{ title }}</title></head>
<body><h1>{{ title }}</h1></body>
<p>The template of this page lives in roles/webserver/templates/.</p>
<p>This page is installed on {{ inventory_hostname }}({{ ansible_host }}).</p>
</html>
